/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.sur_map {
    min-height: 460px;
}

.layertree {
    padding: 20px;
}

.tree {
    min-height:20px;
    /*max-height: 150px;*/
    overflow: auto;
    padding: 3px;
    margin-bottom:5px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 10px 5px;
    position:relative;
    /*                -moz-border-radius:5px;
                    -webkit-border-radius:5px;
                    border:1px solid #999;
                    border-radius:5px;*/
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999 !important;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999 !important;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.slider.slider-horizontal {
    /*margin-left: 20px;*/
    width: 80px;
}

.slider-handle {
    width: 15px;
    height: 15px;
}

.slider.slider-horizontal .slider-handle {
    margin-top: -3px;
}
