<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 layertree">
            <!-- Fetch Layers -->
            <button class="btn btn-primary" ng-click="loadLayers()">
                Cargar Capas
            </button>

            <!-- Todos list -->
            <ul class="layertree" ng-model="layers">
                <li class="input-group" ng-repeat="layer in layers">
                    <input type="checkbox" ng-model="layer.active" ng-change="active(layer)">
                    {{layer.name}}
                </li>
            </ul>
        </div>
        <div class="col-md-9 map">
            <div id="map"></div>
        </div>
    </div>
</div>