<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 layertree">

            <script type="text/ng-template" id="layertree-nodes">
                <span
                        ng-attr-title="{{
                        isGroupNode(layer)
                            ? (layer.expanded ? 'Collapse this branch' : 'Expand this branch')
                            : 'Layer'
                        }}"
                        ng-click="layer.expanded = !layer.expanded">
                    <i ng-if="isGroupNode(layer)"
                       ng-class="{'glyphicon-plus': !layer.expanded, 'glyphicon-minus': layer.expanded}"></i>
                    <i class="glyphicon glyphicon-file"></i>
                    <i class="glyphicon"
                       ng-class="{'glyphicon-unchecked': !layer.visible, 'glyphicon-check': layer.visible}"
                       ng-click="toogleLayerVisibility(layer)">
                    </i>
                    {{layer.name}}
                </span>
                <slider ng-model="layer.opacity" min="0" max="1" step="0.1"
                        value="1" tooltip="hide"
                        ng-change="changeOpacity(layer)"></slider>
                <ul ng-model="layer.items" ng-if="isGroupNode(layer)"
                    ng-show="layer.expanded" class="group"
                    ui-sortable="sortableOptions">
                    <li ng-repeat="layer in layer.items"
                        ng-include="'layertree-nodes'"
                        ng-class="{'parent_li': isGroupNode(layer) }">
                    </li>
                </ul>
            </script>

            <div id="layertree" class="tree">
                <ul ng-model="layertree.root"
                    class="group">
                    <li ng-include="'layertree-nodes'"
                        ng-init="layer = layertree.root">
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8 sur_map">
            <div id="map"></div>
        </div>
    </div>
</div>